<div class="row">
    <div class="col-md-12">
        <h1>Blogs!!!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td>Id</td>
                <th>Title</th>
                <th></th>
            </tr>
            <tr ng-repeat="blog in controller.blogs">
                <td>{{blog.id}}</td>
                <td>
                    <a href="/blogs/detail/{{blog.id}}">{{blog.title}}</a>
                </td>
                <td>
                    <a href="/blogs/edit/{{blog.id}}">edit</a> | 
                    <a href="/blogs/delete/{{blog.id}}">delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>




